<!-- <p>Show a list of users available to be added to this board.</p>
<p>Show which users are already assigned to this board.</p>
<p>Reach goal: have the lists side by side with left and right arrows to assign/unassign them.</p> -->

<div class="jumbotron">
    <h2>{{boardName}}</h2>
    <br>
    <h4 *ngIf="roleId==200">Update Users</h4>
    <h4 *ngIf="roleId==100">View Users</h4>
    <br>
    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)" 
    (onSelectAll)="onSelectAll($event)" 
    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
    <br>
    <div>
        <button class="btn btn-primary" (click)="updateBoardUsers(boardID)" *ngIf="roleId==200" >Update</button>
        <button class="btn btn-secondary" (click)="goBackToMainMenu()">Back</button>
    </div>
</div>
