<div class="container-fluid">
	<h1>Drunken Octopus Scrum Board System</h1>
	<div class="jumbotron">
    	<div *ngIf="board">
    		<h3>{{board.name}}</h3><br />
			<p>Members: <span *ngFor="let member of members; last as isLast">{{member.firstName}} {{member.lastName}}{{isLast ? '' : ', '}}</span></p>
			<p>Start Date: {{getDateString()}}</p>
			<p>Duration: {{board.duration}} days</p>    
			<button type="button" class="btn btn-default">Create Story</button>
		</div>
	</div>
	<div class="row" *ngIf="storyLanes" style="margin-left: -4px; margin-right: -4px">
		<div *ngFor="let lane of storyLanes" class="card col-sm" style="margin: 4px; padding: 4px">
			<h5>{{lane.name}}</h5>
			<div *ngIf="stories">
				<div *ngFor="let story of getStoriesByLane(lane)" class="card" style="margin: 0px; padding: 0px;">
					<div class="card-body" style="margin: 4px; padding: 4px;">
						<h6 class="card-title">{{story.name}}</h6>
						<p class="card-subtitle mb-2 text-muted">{{story.points}}</p>
						<!--
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						-->
						<!--
						<a class="card-link">Card link</a>
						-->
					</div>
				</div>
			</div>	
			
		</div>
	</div>
  
</div>