<!-- <p>Populate fields with data if this is an existing Board that was selected from the Main Menu</p>  
<p>Fill with blank data if this is a NEW board.</p> -->

<div class="container">
	<div class="jumbotron">

		<p [hidden]="!(status === 'create')" >Create New Scrum Board</p>
		<p [hidden]="!(status === 'edit')" >Edit {{sbName}}<p>

		<div>
			<div class="form-group">
				<label for="sbNameInput">Name</label>
				<input id="sbNameInput" [(ngModel)]="sbName" type="text" class="form-control" placeholder="Scrum Board Name (required)">
			</div>
			<div class="form-group" [hidden]="!(status === 'create')">
				<label for="startDateInput">Start Date</label>
                <input id="startDateInput" [(ngModel)]="startDate" type="date" class="form-control" placeholder="mm/dd/yyyy (defaults to today)">
			</div>
			<div class="form-group" [hidden]="!(status === 'edit')">
					<label for="startDateInput">Start Date</label>
					<input id="startDateInput" [(ngModel)]="startDate" type="date" class="form-control" placeholder="mm/dd/yyyy (defaults to today)"
						 disabled>
			</div>
			<div class="form-group">
				<label for="durationInput">Duration</label>
                <input id="durationInput" [(ngModel)]="duration" type="number" class="form-control" min="1" max="90" placeholder="# days (defaults to 14)"
                    aria-describedby="durationHelpBlock">
                <small id="durationHelpBlock" class="form-text text-muted">
                    The duration of a board cannot be less than 1 day or over 90 days.
                  </small>
			</div>

			<button (click)="submit()" class="btn btn-primary">Submit</button>
			<button (click)="cancel()" class="btn btn-secondary">Cancel</button>

			

			

		</div>
	</div>
</div>