<form class="form-inline" *ngIf="roleFromRoute !== 'make'">
    <div  class="form-group">
            <label class="col-sm-2 col-form-label" >Task Description</label>
            <input type="text" [(ngModel)] = "task.description" name="description">   
            <button (click)="createOrEditTask()" class="btn btn-primary">create task</button>         
    </div>
</form>
<ul class="list-group" *ngFor="let task of tasks">
    <li class="list-group-item">{{task.description}}</li>
    <button class="btn btn-danger" (click)="deleteTask(task)"></button>
</ul>

