<p>Populate fields with data if this is an existing story that was selected from the Scrum Board</p>  
<p>Fill with blank data if this is a NEW story.</p>
<p>Cancel and Save should return to the Scrum Board</p>
  <h2>ID of board to create/update story to is: {{boardID}}</h2>
  <div class="jumbotron">
    <div *ngIf="story">
     <input type="text" value={{story.name}}><br>
     <input type="text" value={{story.points}}><br>
     
     <!-- html for tasks -->
    </div>
    <ul>
      <li>Display Story name</li>
      <li>Display Story points</li>
      <li>Display List of Tasks</li>
      <br>
      <button class="btn btn-primary" >Make</button>     
      <button *ngIf="role.id >= 200" class="btn btn-primary">Edit</button>            
      <button class="btn btn-danger">Cancel</button>
    </ul>
  </div>

