<h4>Create/Update Story</h4>
<div class="container-fluid">

    <div class="form-group">
        <div *ngIf="this.storyService.getMode() === 'make'">
            <div class="form-inline">
                <label class="col-sm-2 col-form-label">Story Name</label>
                <input type="text" placeholder="" [(ngModel)]="story.name">

                <label class="col-sm-2 col-form-label">Story Points</label>
                <input type="text" placeholder="" [(ngModel)]="story.points">
            </div>
            <br>

            <label class="col-sm-2 col-form-label">Story Description</label>
            <textarea class="form-control" rows="5" placeholder="" [(ngModel)]="story.description"></textarea>
        </div>
        <div *ngIf="this.storyService.getMode() === 'view'">
            <label class="col-sm-2 col-form-label">Story Name</label>
            <label>{{this.storyService.getSelectedStory().name}}</label>
            <br>
            <label class="col-sm-2 col-form-label">Story Points</label>
            <label>{{this.storyService.getSelectedStory().points}}</label>
            <br>
            <label class="col-sm-2 col-form-label">Story Description</label>
            <label>{{this.storyService.getSelectedStory().description}}</label>
        </div>
        <div *ngIf="this.storyService.getMode() === 'edit'">
            <div class="form-inline">
                <label class="col-sm-1 col-form-label">Story Name</label>
                <input type="text" class="form-control" [(ngModel)]="story.name">

                <label class="col-sm-1 col-form-label">Story Points</label>
                <input type="number" class="form-control" min="1" max="90" [(ngModel)]="story.points">
            </div>
            <br>

            <label class="col-sm-2 col-form-label">Story Description</label>
            <textarea class="form-control" rows="5" [(ngModel)]="story.description"></textarea>
        </div>

    </div>
    <app-create-update-tasks *ngIf="this.storyService.getMode() !== 'make'"></app-create-update-tasks>
    <br>
    <div>
        <button (click)="submitOrMakeStory()" *ngIf="this.storyService.getMode() === 'make'" class="btn btn-primary">Submit</button>
        <button (click)="submitOrMakeStory()" *ngIf="this.storyService.getMode() === 'edit'" class="btn btn-primary">Update</button>
        <button (click)="edit()" *ngIf="(this.storyService.getMode() === 'view' && role.id >= 200)" class="btn btn-primary">Edit</button>
        <!-- <button (click)="cancel()" class="btn btn-danger">Cancel</button> -->
    </div>
</div>